*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#070707;

color:white;

font-family:Arial;

padding:18px;

}

header{

text-align:center;

padding:40px 0;

}

h1{

font-size:56px;

color:#d4af37;

}

header p{

color:#bbb;

font-size:18px;

}

.sports{

display:flex;

gap:12px;

overflow:auto;

padding:20px 0;

}

.sports button{

min-width:140px;

background:#111;

color:white;

border:2px solid #d4af37;

padding:18px;

border-radius:18px;

}

.box{

background:#121212;

padding:20px;

margin-top:20px;

border-radius:25px;

}

.match{

background:#1d1d1d;

padding:18px;

border-radius:20px;

margin-bottom:15px;

}

.match button{

width:100%;

margin-top:15px;

background:#d4af37;

border:none;

padding:15px;

border-radius:16px;

}

#suggestions{

color:#d4af37;

}

#slip div{

background:#1e1e1e;

padding:12px;

margin-top:10px;

border-radius:14px;

}
